@charset "utf-8";
.top {
  background-color: #F7F7F7;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999;
}
.top .top-offline {
  float: left;
}
.top .top-offline span {
  margin-right: 6px;
}
.top .top-offline a {
  color: #333333;
  margin-left: 6px;
}
.logo {
  height: 78px;
  padding: 0 5px;
  font-size: 14px;
}
.logo .logo-info {
  float: left;
}
.logo .logo-info a {
  margin-top: 7px;
}
.logo .logo-info a img {
  margin: 12px 0;
}
.logo .login-info {
  float: right;
  line-height: 78px;
}
.logo .login-info a {
  color: #03060A;
}
.logo .login-info span {
  color: #F6F0EC;
}
.nav {
  height: 38px;
  line-height: 38px;
}
.nav .all-subject {
  background-color: #4BAA47;
  float: left;
  width: 230px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.nav .all-subject a {
  color: #fff;
  display: block;
  text-align: center;
  height: 38px;
}
.nav .all-subject .subject-category {
  height: 432px;
  background-color: #606060;
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: rgba(96, 96, 96, 0.7);
  border-radius: 0 0 10px 10px;
}
.nav .all-subject .subject-category ul {
  color: #fff;
  padding: 17px 0 22px;
}
.nav .all-subject .subject-category ul li {
  width: 100%;
  line-height: 40px;
  height: 40px;
}
.nav .all-subject .subject-category ul li a {
  padding: 0 52px 0  35px;
}
.nav .all-subject .subject-category ul li a span {
  float: left;
}
.nav .all-subject .subject-category ul li a s {
  float: right;
  font: 20px/40px calibri;
}
.nav .all-subject .subject-category ul li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.nav .nav-category {
  float: left;
  width: 740px;
}
.nav .nav-category ul li {
  float: left;
}
.nav .nav-category ul li a {
  margin: 0 18px;
  color: #333;
}
.nav .nav-category ul li a:hover {
  color: #4baa47;
}
.nav .search {
  border: 1px solid #eee;
  float: left;
  width: 210px;
  height: 34px;
  border-radius: 10px;
  line-height: 34px;
}
.nav .search input {
  padding-left: 10px;
  font-size: 14px;
  float: left;
  height: 34px;
  border-radius: 10px;
}
.nav .search button {
  background: url(../img/search.png) no-repeat;
  float: right;
  width: 20px;
  height: 20px;
  margin: 7px 10px 0 0;
}
.banner {
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.banner ul {
  width: 1000%;
  height: 100%;
}
.banner ul li {
  width: 10%;
  float: left;
  height: 100%;
}
.banner ul li a {
  width: 100%;
}
.banner ul li a img {
  width: 100%;
  height: 320px;
}
.banner .swiper-pagination {
  width: 120px;
  height: 10px;
  position: absolute;
  margin-left: -60px;
  left: 50%;
  bottom: 20px;
}
.banner .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
.banner .swiper-pagination .swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 0.3;
  margin: 0 6px;
}
.commend {
  margin-left: 320px;
}
.commend ul li {
  float: left;
  width: 320px;
  height: 100px;
  color: #333;
}
