@charset "utf-8";
.top {
  background-color: #F7F7F7;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999;
}
.top .top-offline {
  float: left;
}
.top .top-offline span {
  margin-right: 6px;
}
.top .top-offline a {
  color: #333333;
  margin-left: 6px;
}
.bg-logo {
  background-color: #fff;
}
.bg-logo .logo {
  height: 78px;
  padding: 0 5px;
  background-color: #fff;
  font-size: 14px;
}
.bg-logo .logo .logo-info {
  float: left;
}
.bg-logo .logo .logo-info a {
  margin-top: 7px;
}
.bg-logo .logo .logo-info a img {
  margin: 12px 0;
}
.bg-logo .logo .login-info {
  float: right;
  line-height: 78px;
}
.bg-logo .logo .login-info a {
  color: #03060A;
}
.bg-logo .logo .login-info span {
  color: #F6F0EC;
}
.bg-nav {
  background-color: #fff;
}
.bg-nav .nav {
  height: 38px;
  line-height: 38px;
  background-color: #fff;
}
.bg-nav .nav .all-subject {
  background-color: #4BAA47;
  float: left;
  width: 230px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.bg-nav .nav .all-subject a {
  color: #fff;
  display: block;
  text-align: center;
  height: 38px;
}
.bg-nav .nav .all-subject .subject-category {
  height: 432px;
  background-color: #606060;
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: rgba(96, 96, 96, 0.7);
  border-radius: 0 0 10px 10px;
}
.bg-nav .nav .all-subject .subject-category ul {
  color: #fff;
  padding: 17px 0 22px;
}
.bg-nav .nav .all-subject .subject-category ul li {
  width: 100%;
  line-height: 40px;
  height: 40px;
}
.bg-nav .nav .all-subject .subject-category ul li a {
  padding: 0 52px 0  35px;
}
.bg-nav .nav .all-subject .subject-category ul li a span {
  float: left;
}
.bg-nav .nav .all-subject .subject-category ul li a s {
  float: right;
  font: 20px/40px calibri;
}
.bg-nav .nav .all-subject .subject-category ul li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-nav .nav .nav-category {
  float: left;
  width: 740px;
}
.bg-nav .nav .nav-category ul li {
  float: left;
}
.bg-nav .nav .nav-category ul li a {
  margin: 0 18px;
  color: #333;
}
.bg-nav .nav .nav-category ul li a:hover {
  color: #4baa47;
}
.bg-nav .nav .search {
  border: 1px solid #eee;
  float: left;
  width: 210px;
  height: 34px;
  border-radius: 10px;
  line-height: 34px;
}
.bg-nav .nav .search input {
  padding-left: 10px;
  font-size: 14px;
  float: left;
  height: 34px;
  border-radius: 10px;
}
.bg-nav .nav .search button {
  background: url(../img/search.png) no-repeat;
  float: right;
  width: 20px;
  height: 20px;
  margin: 7px 10px 0 0;
}
.banner {
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.banner ul {
  width: 1000%;
  height: 100%;
}
.banner ul li {
  width: 10%;
  float: left;
  height: 100%;
}
.banner ul li a {
  width: 100%;
  text-decoration: none;
}
.banner ul li a img {
  width: 100%;
  height: 320px;
}
.banner .swiper-pagination {
  width: 120px;
  height: 10px;
  position: absolute;
  margin-left: -60px;
  left: 50%;
  bottom: 20px;
}
.banner .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
.banner .swiper-pagination .swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 0.3;
  margin: 0 6px;
}
.commend {
  margin-left: 320px;
}
.commend ul {
  height: 100px;
  margin-top: 12px;
}
.commend ul li {
  float: left;
  width: 230px;
  height: 100px;
  color: #333;
  margin-left: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.commend ul li:first-child {
  background-color: #48bdb2;
}
.commend ul li:nth-child(2) {
  background-color: #748cb7;
}
.commend ul li:nth-child(3) {
  background-color: #938fb7;
}
.commend ul li:last-child {
  background-color: #c2b47a;
}
.commend ul li a {
  display: block;
  padding: 16px 6px 7px 6px;
  text-decoration: none;
}
.commend ul li a dt {
  float: left;
}
.commend ul li a dt img {
  width: 54px;
  height: 70px;
}
.commend ul li a dd {
  color: #fff;
}
.commend ul li a dd p {
  font-size: 14px;
  margin-top: 8px;
}
.commend ul li a:hover {
  transform: translateY(-3px);
  transition: all .2s ease;
}
.commend ul li:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
}
.hot {
  padding-top: 20px;
}
.hot .hot-live {
  width: 690px;
  height: 274px;
  float: left;
  margin-right: 10px;
  background-color: pink;
  border-radius: 10px;
  padding: 20px 0;
  font-weight: 400;
  position: relative;
}
.hot .hot-live .content {
  margin: 0 49px;
  width: 590px;
  height: 314px;
  overflow: hidden;
  position: relative;
}
.hot .hot-live .content h3 {
  font-weight: 400;
}
.hot .hot-live .content ul {
  width: 3000px;
  margin-top: 10px;
  position: absolute;
}
.hot .hot-live .content ul li {
  width: 285px;
  height: 232px;
  float: left;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-right: 20px;
}
.hot .hot-live .content ul li a {
  width: 100%;
  height: 100%;
}
.hot .hot-live .content ul li a img {
  width: 100%;
  height: 161px;
  border-radius: 10px 10px 0 0 ;
}
.hot .hot-live .arrow a {
  width: 30px;
  height: 60px;
  background-color: #D9D9D9;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  border-radius: 6px;
  font-size: 20px;
}
.hot .hot-live .arrow .left-arrow {
  left: 0;
}
.hot .hot-live .arrow .right-arrow {
  right: 0;
}
.hot .newsInfo {
  float: left;
  border: 1px solid #eee;
  width: 376px;
  height: 296px;
  border-radius: 8px;
  padding: 6px 66px 12px 46px;
  background-color: #fff;
  margin-bottom: 28px;
  background-color: skyblue;
}
.hot .newsInfo .new-img {
  float: left;
}
.hot .newsInfo .new-img img {
  margin-top: 40px;
}
.hot .newsInfo .placard {
  float: left;
  width: 218px;
}
.hot .newsInfo .placard ul {
  padding: 10px 50px  0 20px;
  width: 218px;
}
.hot .newsInfo .placard ul li {
  height: 36px;
  line-height: 36px;
}
.hot .newsInfo .placard ul li span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #4baa47;
  margin-right: 14px;
}
.hot .newsInfo .placard ul li a {
  text-decoration: none;
  color: #333;
}
.hot .newsInfo .placard ul li a:hover {
  color: #4baa47;
}
.graduate .title h3 {
  color: #333;
  display: inline-block;
}
.graduate .title span {
  padding-left: 10px;
  font-size: 14px;
  color: #666A77;
}
.graduate .graduate-content ul {
  padding: 10px 0;
}
.graduate .graduate-content ul li:first-child {
  width: 590px;
  background: url(../img/gra1.png);
  margin-bottom: 10px;
}
.graduate .graduate-content ul li:nth-child(2) {
  background: url(../img/gra2.png);
  margin: 0px 10px 10px;
}
.graduate .graduate-content ul li:nth-child(3) {
  background: url(../img/gra2.png);
  margin-bottom: 10px;
}
.graduate .graduate-content ul li:nth-child(4) {
  background: url(../img/gra2.png);
}
.graduate .graduate-content ul li:nth-child(5) {
  background: url(../img/gra2.png);
  margin: 0px 10px;
}
.graduate .graduate-content ul li:last-child {
  background: url(../img/gra1.png);
}
.graduate .graduate-content ul li {
  width: 290px;
  float: left;
  height: 120px;
}
.graduate .graduate-content ul li:last-child {
  width: 590px;
}
.graduate .graduate-content ul li h4 {
  text-align: center;
  margin-top: 70px;
  color: #fff;
  display: block;
}
.graduate .graduate-content ul li div {
  width: 520px;
  display: none;
  padding-left: 20px;
  transform: translateY(30px);
  transition: all .3s ease;
}
.graduate .graduate-content ul li:hover {
  background: rgba(180, 60, 255, 0.6);
  z-index: 100;
  border-radius: 10px;
}
.graduate .graduate-content ul li:hover div {
  display: block;
  transform: translateY(26px);
}
.graduate .graduate-content ul li:hover h4 {
  display: none;
}
.small .small-title {
  height: 50px;
  line-height: 50px;
}
.small .small-title h3 {
  display: inline-block;
  margin-right: 10px;
}
.small .small-title a {
  text-decoration: none;
  color: #333;
}
.small ul li {
  float: left;
  width: 290px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.small ul li img {
  border-radius: 5px 5px 0 0 ;
}
.small ul li .small-desc {
  padding: 10px 6px 0 6px;
}
.small ul li .small-desc h4 {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #333;
}
.small ul li .small-desc p {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #999;
}
.small ul li .small-desc p span {
  display: inline-block;
  font-size: 12px;
}
.small ul li .small-desc .price {
  float: left;
}
.small ul li .small-desc .price b {
  color: #F48320;
  font-weight: 400;
}
.small ul li .small-desc .price del {
  color: #e3e3e3;
  font-size: 12px;
}
.small ul li .small-desc .stuCount {
  width: 30px;
  float: right;
  line-height: 18px;
}
.small ul li .small-desc .stuCount img {
  width: 11px;
  height: 14px;
  display: inline-block;
}
.small ul li .small-desc .stuCount .studentNumber {
  font-size: 12px;
  color: #999;
}
.small ul li:nth-child(4n) {
  margin-right: 0;
}
.story .story-title h3 {
  height: 40px;
  float: left;
  line-height: 40px;
}
.story .story-title .change {
  float: right;
  width: 70px;
  height: 22px;
  border: 1px solid #ccc;
  line-height: 22px;
  color: #ccc;
  font-weight: 700;
  margin-top: 10px;
}
.story .story-title .change .change-left {
  display: inline-block;
  width: 34px;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
}
.story .story-title .change .change-right {
  display: inline-block;
  width: 34px;
  height: 100%;
  text-align: center;
}
.story .story-content {
  padding-top: 10px;
  height: 285px;
  overflow: hidden;
}
.story .story-content ul {
  width: 2000px;
}
.story .story-content ul li {
  width: 346px;
  height: 160px;
  float: left;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px 22px 0 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
}
.story .story-content ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.story .story-content ul li a .avatar {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  float: left;
}
.story .story-content ul li a .avatar span {
  display: block;
  text-align: center;
}
.story .story-content ul li a .introduct {
  width: 224px;
  float: left;
  margin-left: 18px;
  color: #333;
}
.story .story-content ul li a .introduct h4 {
  height: 28px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}
.story .story-content ul li a .introduct p {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #999999;
}
.story .story-content ul li:nth-child(even) {
  margin: 0 10px;
}
.footer {
  background-color: #2C333F;
  color: #CED3DB;
}
.footer .footer-top {
  height: 180px;
  border-bottom: 1px solid #393E46;
  padding-top: 16px;
}
.footer .footer-top .clound-class {
  width: 422px;
  height: 164px;
  padding-left: 74px;
  color: #CED3DB;
}
.footer .footer-top .clound-class h3 {
  height: 50px;
  line-height: 50px;
}
.footer .footer-top .clound-class p {
  font-size: 12px;
}
.footer .footer-top .about {
  width: 202px;
  height: 180px;
  padding-left: 58px;
}
.footer .footer-top .about h3 {
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
}
.footer .footer-top .about .about-weibo {
  width: 52px;
  height: 48px;
  float: left;
}
.footer .footer-top .about .about-weibo a {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(../img/weibo.png);
}
.footer .footer-top .about .about-weixin {
  margin-left: 22px;
  float: left;
  width: 48px;
  height: 52px;
}
.footer .footer-top .about .about-weixin a {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(../img/weibo.png);
}
.footer .footer-top .links {
  width: 434px;
}
.footer .footer-top .links h3 {
  height: 50px;
  line-height: 50px;
}
.footer .footer-top .links .links-content {
  margin-top: 10px;
}
.footer .footer-top .links .links-content a {
  color: #CED3DB;
  margin-right: 20px;
  font-size: 14px;
}
.footer .footer-bottom {
  height: 73px;
  padding-top: 15px;
  text-align: center;
  font-size: 12px;
}
.footer .footer-bottom .question {
  height: 30px;
  line-height: 30px;
}
.footer .footer-bottom .question a {
  margin: 0 6px;
  color: #CED3DB;
}
.footer .footer-bottom .question span {
  font-size: 10px;
}
.footer .footer-bottom .copyright {
  height: 25px;
  line-height: 25px;
}
