<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/assets/Swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../public/less/index.css">

</head>
<body>
<!--top start-->
    <div class="top">
       <div class="w">
           <div class="top-offline">
               <span>传智播客旗下高端在线教育品牌 </span>|
               <a href="#">线下学院</a>
           </div>
           <div class="top-tel fr">
               全国咨询热线：010-82826576
           </div>
       </div>
    </div>
<!--top end-->

<!--logo start-->
<div class="bg-logo">
    <div class="logo w">
        <div class="logo-info">
            <h1>
                <a href="#">
                    <img src="../public/img/logo.png" alt="">
                </a>
            </h1>
        </div>
        <div class="login-info">
            <a href="#">学习中心</a>
            <a href="#">购物车</a>
            <span>|</span>
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
    </div>
</div>

<!--logo end-->


<!--nav start-->
<div class="bg-nav">
    <div class="nav w">
        <div class="all-subject">
            <a href="javascript:;">
                全部学科
            </a>
            <div class="subject-category">
                <ul  id="subjectInfo">
                    <!--挖个坑-->
                </ul>
            </div>
        </div>
        <div class="nav-category">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">就业班</a></li>
                <li><a href="#">精品微课</a></li>
                <li><a href="#">免费微课</a></li>
                <li><a href="#">问答精灵</a></li>
                <li><a href="#">博学社</a></li>
                <li><a href="#">学习空间</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="search" placeholder="搜索课程">
            <button></button>
        </div>
    </div>
</div>
<!--nav end-->

<!--banner start-->
<div class="banner">
    <div class="swiper-container">
        <!--<div class="swiper-wrapper"  id="bannerInfo"></div>-->
            <ul  class="swiper-wrapper" id="bannerInfo">
               <!--挖个坑-->
            </ul>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination">
            <!--<a href="javascript:;" class="current"></a>-->
            <!--<a href="javascript:;"></a>-->
            <!--<a href="javascript:;"></a>-->
            <!--<a href="javascript:;"></a>-->
            <!--<a href="javascript:;"></a>-->
            <!--<a href="javascript:;"></a>-->
        </div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>


</div>
<!--banner end-->

<!--commend start-->
<div class="commend">
    <ul>
        <li><a href="javascript:;">
            <dl>
                <dt>
                    <img src="../public/img/banner-bottom1.png" alt="">
                </dt>
                <dd>
                    <h4>就业班</h4>
                    <p>就业班是博学谷重点打造的以就业为导... </p>
                </dd>
            </dl>
        </a>
        </li>
        <li><a href="javascript:;">
            <dl>
                <dt>
                    <img src="../public/img/banner-bottom2.png" alt="">
                </dt>
                <dd>
                    <h4>就业班</h4>
                    <p>就业班是博学谷重点打造的以就业为导... </p>
                </dd>
            </dl>
        </a>
        </li>
        <li><a href="javascript:;">
            <dl>
                <dt>
                    <img src="../public/img/banner-bottom3.png" alt="">
                </dt>
                <dd>
                    <h4>就业班</h4>
                    <p>就业班是博学谷重点打造的以就业为导... </p>
                </dd>
            </dl>
        </a>
        </li>
        <li><a href="javascript:;">
            <dl>
                <dt>
                    <img src="../public/img/banner-bottom4.png" alt="">
                </dt>
                <dd>
                    <h4>就业班</h4>
                    <p>就业班是博学谷重点打造的以就业为导... </p>
                </dd>
            </dl>
        </a>
        </li>
    </ul>
</div>
<!--commend end-->

<!--hot start-->
<div class="hot w clearfix" >
    <div class="hot-live">
       <div class="content">
           <h3>热门公开直播课</h3>
           <ul>
               <li><a href="#"><img src="../public/img/sub-banner.jpg" alt=""><p class="desc">1</p></a></li>
               <li><a href="#"><img src="../public/img/sub-banner.jpg" alt=""><p class="desc">2</p></a></li>
               <li><a href="#"><img src="../public/img/sub-banner.jpg" alt=""><p class="desc">3</p></a></li>
               <li><a href="#"><img src="../public/img/sub-banner.jpg" alt=""><p class="desc">4</p></a></li>
               <li><a href="#"><img src="../public/img/sub-banner.jpg" alt=""><p class="desc">5</p></a></li>
               <li><a href="#"><img src="../public/img/sub-banner.jpg" alt=""><p class="desc">6</p></a></li>
               <li><a href="#"><img src="../public/img/sub-banner.jpg" alt=""><p class="desc">1</p></a></li>
               <li><a href="#"><img src="../public/img/sub-banner.jpg" alt=""><p class="desc">2</p></a></li>

           </ul>

       </div>
        <div class="arrow">
            <a href="javascript:;" class="left-arrow" id="left-arrow">&lt;</a>
            <a href="javascript:;" class="right-arrow" id="right-arrow">&gt;</a>
        </div>

    </div>
    <div class="newsInfo">
        <div class="new-img">
            <h3>博学谷新闻</h3>
            <img src="../public/img/news.png" alt="">
        </div>
        <div class="placard">
            <h3>咨询公告</h3>
            <ul>
                <li><a href="javascript:;"><span></span>新闻1</a></li>
                <li><a href="javascript:;"><span></span>新闻1</a></li>
                <li><a href="javascript:;"><span></span>新闻1</a></li>
            </ul>
        </div>
    </div>
</div>
<!--hot end-->

<!--graduate start-->
<div class="graduate w">
    <div class="title">

        <h3>就业班</h3><span>从0到1的提升，从这里开始。</span>
    </div>
    <div class="graduate-content">
        <ul class="clearfix">
            <li><h4>Web前端就业班</h4>
            <div><p>互联网的时代，利用前端技术开发界面，完成动态的交互功能，与后台配合构建用户体验优异的产品？Web前端工程师，等你来挑战~</p>
                <a href="javascript:;" class="online">在线学习</a>
                <a href="javascript:;" class="line">线下学习</a>
            </div>
            </li>
            <li><h4>Web前端就业班</h4></li>
            <li><h4>Web前端就业班</h4></li>
            <li><h4>Web前端就业班</h4></li>
            <li><h4>Web前端就业班</h4></li>
            <li><h4>Web前端就业班</h4></li>
        </ul>
    </div>

</div>
<!--graduate end-->

<!--small start-->
<div class="small w">
    <div class="small-title">
        <h3>精品微课</h3>
        <a href="javascript:;">课程推荐</a>
        <a href="javascript:;">JavaEE</a>
        <a href="javascript:;">UI设计</a>
        <a href="javascript:;">前端</a>
    </div>
    <div class="small-content">
        <ul class="clearfix">
            <li><a href="javascript"><img src="../public/img/hot1.png" alt=""><div class="small-desc">
                <h4>2017最新PHP基础入门课程</h4>
                <p>讲师:孙老师、姚老师 &nbsp;<span>|</span>&nbsp;40小时</p>
                <div class="price"><b>￥49.00</b>
                    <del>￥119.00</del></div>
                <span class="stuCount">
                    <img src="../public/img/studentCount.png" alt="">
                    <span class="studentNumber">20</span>
                </span>
            </div></a></li>
            <li><a href="javascript"><img src="../public/img/hot2.jpg" alt=""><span class="small-desc"></span></a></li>
            <li><a href="javascript"><img src="../public/img/hot3.jpg" alt=""><span class="small-desc"></span></a></li>
            <li><a href="javascript"><img src="../public/img/hot3.jpg" alt=""><span class="small-desc"></span></a></li>
            <li><a href="javascript"><img src="../public/img/hot3.jpg" alt=""><span class="small-desc"></span></a></li>
            <li><a href="javascript"><img src="../public/img/hot3.jpg" alt=""><span class="small-desc"></span></a></li>
            <li><a href="javascript"><img src="../public/img/hot3.jpg" alt=""><span class="small-desc"></span></a></li>
            <li><a href="javascript"><img src="../public/img/hot3.jpg" alt=""><span class="small-desc"></span></a></li>

        </ul>
    </div>
</div>
<!--small end-->

<!--story start-->
<div class="story w">
    <div class="story-title clearfix">
        <h3>学员故事</h3>
        <div class="change">
            <span class="change-left">
                <i>&lt;</i>
            </span><span class="change-right">
                <i>&gt;</i>
            </span>

        </div>
    </div>
    <div class="story-content">
        <ul class="clearfix">
            <li><a href="">
                <div class="avatar">
                    <img src="../public/img/tea1.png" alt="">
                    <span class="name">bob1</span>
                </div>
                <div class="introduct">
                    <h4>李山投资 & 薪资14k</h4>
                    <p>“古语云：三十而立，我却在28岁开始学习软件开发，这是我在大学毕业工作五年后做出的一个让人无法理解的选择。我鼓起勇气在28岁时从头开始一段程序人生。”</p>
                </div>
            </a></li>
            <li><a href="">
                <div class="avatar">
                    <img src="../public/img/tea1.png" alt="">
                    <span class="name">bob1</span>
                </div>
                <div class="introduct">
                    <h4>李山投资 & 薪资14k</h4>
                    <p>“古语云：三十而立，我却在28岁开始学习软件开发，这是我在大学毕业工作五年后做出的一个让人无法理解的选择。我鼓起勇气在28岁时从头开始一段程序人生。”</p>
                </div>
            </a></li>
            <li><a href="">
                <div class="avatar">
                    <img src="../public/img/tea1.png" alt="">
                    <span class="name">bob1</span>
                </div>
                <div class="introduct">
                    <h4>李山投资 & 薪资14k</h4>
                    <p>“古语云：三十而立，我却在28岁开始学习软件开发，这是我在大学毕业工作五年后做出的一个让人无法理解的选择。我鼓起勇气在28岁时从头开始一段程序人生。”</p>
                </div>
            </a></li>
            <li><a href="">
                <div class="avatar">
                    <img src="../public/img/tea1.png" alt="">
                    <span class="name">bob1</span>
                </div>
                <div class="introduct">
                    <h4>李山投资 & 薪资14k</h4>
                    <p>“古语云：三十而立，我却在28岁开始学习软件开发，这是我在大学毕业工作五年后做出的一个让人无法理解的选择。我鼓起勇气在28岁时从头开始一段程序人生。”</p>
                </div>
            </a></li>
        </ul>
    </div>
</div>
<!--story end-->


<!--footer start-->
<div class="footer">
    <div class="footer-top">
        <div class="clound-class fl">
            <h3>博学谷云课堂</h3>
            <p>
                博学谷云课堂，是传智播客旗下的在线教育品牌。专注整合传智优势教学资源、打造适合在线学习并能保证教学结果的优质教学产品，同时打造和运营一整套教育生态软件体系，为用户提供满足自身成长和发展要求的有效服务。
            </p>
        </div>
        <div class="about fl">
            <h3>关注我们</h3>
            <div class="about-weibo">
                <a href=""></a>
            </div>
            <div class="about-weixin">
                <a href=""></a>
            </div>
        </div>
        <div class="links fl">
            <h3>友情链接</h3>
            <div class="links-content">
                <a href="">传智播客</a>
                <a href="">传智播客论坛</a>
                <a href="">传智播客公开课</a>
                <a href="">黑马程序员论坛</a>
                <a href="">黑马程序员</a>
                <a href="">博学谷视频库</a>
                <a href="">传智云课堂</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom ">

        <div class="question">
            <a href="">关于我们</a><span>|</span>
            <a href="">人才招聘</a><span>|</span>
            <a href="">人才招聘</a><span>|</span>
            <a href="">人才招聘</a>
        </div>
        <div class="copyright">京ICP备08001421号 京公网安备110108007702 Copyright @ 2016-2017  博学谷 All Rights Reserved&nbsp;<a
                href=""><img src="../public/img/pic1.gif" alt=""></a></div>
    </div>
</div>
<!--footer end-->

<script type="text/html" id="bannerTpl">
    {{each data as item}}
    <li  class="swiper-slide"><a href="javascript:;"><img src="/images/{{item.picUrl}}" alt=""></a></li>
    {{/each}}
</script>

<script type="text/template" id="subjectTpl">
    {{each data as item}}
    <li><a href="#"><span>{{item.name}}</span><s class="iconfont icon-left">&gt;</s></a></li>
    {{/each}}
</script>

<script type="text/template" id="hotTpl">
    {{each data as item}}
    <div class="swiper-slide" >
        <div class="slide-left fl">
            <img src="/images/{{item.picUrl}}" alt=""/>
            <div class="subject-detail">
                <div class="title">

                </div>
                <div class="time">

                </div>
            </div>
        </div>
        <div class="slide-right fl">
            <img src="/images/{{item.picUrl}}" alt=""/>
            <div class="subject-detail">
                <div class="title">

                </div>
                <div class="time">

                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script src="../public/assets/jquery/jquery.min.js"></script>
<script src="../public/assets/Swiper/js/swiper.jquery.js"></script>

<script src="../public/assets/artTemplate/template.js"></script>

<script src="../public/js/index.js"></script>

</body>
</html>