<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bobplay</title>
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/less/login.css">
    <link rel="stylesheet" href="../public/assets/font-awesome/css/font-awesome.min.css">

</head>
<body>
<div class="login">?
    <b class="avatar"></b>
    <form action="" method="post" id="loginForm">
        <div class="input-group uname">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="请输入用户名" aria-describedby="basic-addon1" id="username" name="username">

        </div>

        <div class="input-group upwd">
            <span class="input-group-addon" id="basic-addon2 "><i class="fa fa-key"></i></span>
            <input type="text" class="form-control" placeholder="请输入密码" aria-describedby="basic-addon2" id="pwd" name="pwd">

        </div>

        <div class="sub">

            <input class="btn-primary" type="submit" value="登录" id="submit">
        </div>
        <s class="nametip"></s>
    </form>
</div>
<script src="../public/assets/jquery/jquery.min.js"></script>
<script src="../public/assets/bootstrap/js/bootstrap.js"></script>
<script src="../public/js/login.js"></script>
</body>
</html>