<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bob.ssm.dao.UserDao">

    <resultMap id="UserBaseMap" type="com.bob.ssm.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="pwd_salt" property="pwdSalt" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="modify_time" property="modifyTime" jdbcType="DATE"/>
        <result column="is_delete" property="isDelete" jdbcType="SMALLINT"></result>
    </resultMap>

    <select id="selectUserById" parameterType="java.lang.Long" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE id = #{userId}
    </select>

    <select id="selectUserByPhoneOrEmail" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE user_email = #{emailOrPhone} OR user_phone = #{emailOrPhone}
        AND user_state = #{state}
    </select>

    <select id="selectUserByName" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE user_name LIKE '%${userName}%'
    </select>

    <select id="selectAllUser" resultMap="UserBaseMap">
        SELECT * FROM t_user
    </select>

    <insert id="addUser" keyProperty="id" parameterType="com.bob.ssm.model.User" useGeneratedKeys="true">
        insert into t_user (user_name, user_phone) values (#{userName},#{userPhone})
    </insert>

    <update id="updateUser" parameterType="com.bob.ssm.model.User">
        update t_user
        <set>
            <if test="userName != null">user_name=#{userName},</if>
            <if test="userPhone != null">user_phone=#{userPhone},</if>
            <if test="userEmail != null">user_email=#{userEmail},</if>
            <if test="pwdSalt != null">user_pwd=#{pwdSalt}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="com.bob.ssm.model.User">
        DELETE FROM t_user WHERE id = #{id}
    </delete>


</mapper>